/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container {
	display: grid;

	grid-template-columns: 1fr 1fr 600px;
	/* grid-template-columns: 1fr 1fr 1fr */
	/* grid-template-columns: repeat(3, 1fr) */
	/* grid-template-columns: 200px 1fr */
	/* grid-template-columns: 100px 200px auto */

	grid-template-rows: 100px 500px 300px 300px 300px;
	/* grid-template-rows: repeat(3, 1fr) */
	/* grid-template-rows: 200px 1fr */
	/* grid-template-rows: 100px 200px auto */
	grid-template-areas:
		"header header header"
		"main    main    mapinfo"
		"main    main	compare"
		"main    main   tourlist"
		"review   review   review"
}

.header{
	grid-area: header;
}

.main{
	grid-area: main;
}

.label{
	text-align:center;
}

.mapinfo{
	grid-area: mapinfo;
}

.tourlist{
	grid-area: tourlist;
}

.review{
	grid-area: review;
}

.footer{
	grid-area: footer;
}

.RecommandedSite{
	list-style: none;
	/* border: 1px solid black; */
}

.RecommandedSite .sitename{
	text-align: center;
	position: relative;
}
.menubar{
	
	margin: 0;
	padding: 0;
  }
  ul {
	background: #fff;
	position: relative;
	overflow: hidden;
  }
  .main ul{
	}
	.tourlist li{
		width: 90%;
		margin: 40px;
		margin-left: 15px;
	}
  ul li {
	list-style: none;
	text-transform: uppercase;
	float: left;
	margin: 0 10px;
	padding: 0 5px 5px;
  }
  ul li a {
	color: #000;
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
	display: inline-block;
  }
  .menuUnderline {
	background-color: #000;
	position: absolute;
	height: 3px;
	left: 0;
	bottom: 0;
  }

  .compare-frame {
	border: 1px solid rgba(0,0,0,.125);
	border-radius : 10px;
	width:495px;
	} 

	.card-columns > .card{
		width: 380px;
	}
	.card-columns{
		 height: 500px;
	}