* {
  margin:0;
  padding:0;
  border:0;
  text-decoration:none;
  letter-spacing:0px;
}
html {height:100%;}

.wrap
{
  width:100%;
  font-size:14px;
  font-weight:bold;
}

.menubar
{
  position: absolute;
  width: 1140px;
  margin: 0;
  border:none;
  overflow: hidden;
}

.menuLogo
{
  width:100px;
  float:left;
}

.menuItem
{
  padding-top: 8px;
  padding-bottom:0px;
  float:left;
}

.menubar ul
{
  background:rgb(129,166,222);
  height:50px;
  list-style:none;
}

.menubar li
{
  float:left;
}

.menubar a
{
  color:#FFFFFF;
  display:block;
  font-weight:normal;
  line-height:49px;
  padding:1px 25px;
  text-align:center;
}

.menubar li a:hover,
.menubar ul li:hover a {
  background: #636363;
  color:#FFFFFF;
}

.menubar li:hover ul
{
  display:block;
}

.menubar li:hover li a
{
  background:none;
}

.menubar li ul
{
  background:rgb(129,166,222);
  display:none;
  height:10px;
  position:absolute;
  z-index:999;
}

.menubar li li a ,
.menubar li li
{
  background:rgb(129,166,222);
  display:block;
  float:none;
  min-width:135px;
}

.menubar li ul a
{
  display:block;
  height:50px;
  font-size:12px;
  font-style:normal;
  padding:0px 10px 0px 15px;
  text-align:left;
}

.menubar li ul a:hover,
.menubar li ul li:hover a{
  background: #636363;
  border:0px;
  color:#ffffff;
}
